@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-colour: #E3FDB9;
}

.page { 
  display: none
}

.button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;

  display: block;
  background-color: #ADD6A2;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Position the button at the top right corner */
/* .button-container { */
#login-button {
  position: absolute;
  top: 10px; /* distance from the top */
  right: 10px; /* distance from the right */
}

#signup-button {
  position: absolute;
  top: 10px; /* distance from the top */
  right: 200px; /* distance from the right */
}

/*centers home page while zooming in and out*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%
}


/* #loading {

} */

/* #home {
  
} */