@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Open+Sans:wght@500&display=swap');

html, body, #container, .page {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-colour: #E3FDB9;
}

.page { 
  display: none
}

.button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;

  display: block;
  background-color: #ADD6A2;
  padding: 10px 20px;
  border-radius: 5px;

  font-family: Crushed;
}

#signup-button {
  position: absolute;
  top: 10px; 
  right: 200px; 
}

#login-button {
  position: absolute;
  top: 10px; /* distance from the top */
  right: 10px; /* distance from the right */
}

#backhome {
  position: absolute;
  color: black;
  top: 3%; 
  left: 1.5%; 
}

#username-bar{
  position: absolute;
  top: 42%;
  right: 20.5%;  

  height:8%;
  width: 58%;
  font-size:30pt;
}

#password-bar{
  position: absolute;
  top: 62%;
  right: 20.5%;  

  height:8%;
  width: 58%;
  font-size:30pt;
}

/*centers home page while zooming in and out*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%
}


#driverinfo-page {
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;
}

#signup-page {
	background-image: url('https://media.discordapp.net/attachments/1161825372602646548/1162903825699586178/Component_1_1.png?ex=653da195&is=652b2c95&hm=fda866ffcaf41b82fdd2b2c7c481047742af366c61b7cb233633497b27d023e9&=&width=1850&height=1045');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;
}

.button {opacity: 0.75;transition: 0.3s;}

.button:hover {opacity: 1}

table, td, th {
  text-align: center;
  font-family:'Crushed'
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}


/* #loading {

} */

/* #home {
  
} */