<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>carma</title>
    <meta name="description" content="carma; an eco-friendly carpooling app" />
    <meta name="author" content="carma" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="./style/styles.css" />
    <link rel="shortcut icon" href="./image/favicon.ico" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script type="importmap">
      {
        "imports": {
          "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
        }
      }
    </script>
    <script src="./script/app.js" type="module" defer></script>

  </head>
  <body>
    <noscript>JavaScript is required to run carma</noscript>
    <div id="container">
      <div id="loading" class="page">
        <img src="./image/carma-loading.png" alt="carma website logo" id="loading-logo" class = "center">
        <!-- <p id="loading-text">Loading...</p> -->
      </div>
      <div id="home" class="page">
        <img src="./image/home.png" alt="home page" id="home-bk" class="center">
        <div class="button-container">
          <button class = "button" type="button" id="login-button">>> Login</button>
          <button class = "button" type="button" id="signup-button">>> Sign Up</button>
        </div>
      </div>
      <!-- login page -->
        <div id="login-page" class="page">
          <!-- background -->
          <img src="./image/login-page.png" alt="lgpage" id="login-bk" class="center">
          <form>
            <input type="text" id="username-bar" name="username">
            <input type="text" id="password-bar1" name="password">
            <button class = "button" type="button" id="backhome-login" style="padding:5px">
              <img src="./image/homeicon.png" alt="homeicon" id="homeicon" style="padding-right: 10px; width: 13%; height: 13%">back home</button >
          </form>
          <button class = "button" type="button" id="login-account">Login</button>
        </div>
      <!-- end login page -->

      <!-- signup page -->
      <div id="signup-page" class="page">
        <!-- background -->
        <img src="./image/signup-page.png" id="signup-bk" class="center">

        <form>
          <input type="text" id="email-bar" name="email">
          <input type="text" id="password-bar2" name="password">
          <input type="text" id="password-confirm" name="password-confirm">
        </form>

        <button class = "button" type="button" id="backhome-signup" style="padding:5px">
          <img src="./image/homeicon.png" alt="homeicon" id="homeicon" style="padding-right: 10px; width: 13%; height: 13%">back home</button>

        <button class = "button" type="button" id="create-button">Create</button>
        <p style="font-family:'Crushed'; text-align:center;"> Have an account? <span> <a id="signup-login" style="color:black">Log in</a></span></p>
      </div>
      <!--end signup page-->

      <!-- account info/statistics -->
      <div id="account-page" class="page">
        <img src="./image/account-page.png" alt="accpage" id="account-bk" class="center">
      </div>
      <!-- end account info/statistics page -->
    </div>
  </body>
</html>
