<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>carma</title>
    <meta name="description" content="carma; an eco-friendly carpooling app" />
    <meta name="author" content="carma" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="./style/style.css" />
    <link rel="shortcut icon" href="./image/favicon.ico" />
    
    <script src="./script/app.js" type="module"></script>
  </head>
  <body>
    <h1>
      carma
    </h1>
  </body>
</html>